In [159]:
import pandas as pd
import re
from cleantext import clean

In [178]:
def clean_nepali(text):
    text = text.replace('\u200d', '')  
    text = text.replace('।', '')
    text = text.replace('–','')  
    text = text.replace('—','')
    text = text.replace('”','')
    text = text.replace('“','')
    text = text.replace('‘','')
    text = text.replace('’','')
    
    text = re.sub(r'\s+', ' ', text)  
    text = re.sub(r'[^\u0900-\u097F\s\.,!?|]।\u200d', '', text)  
    
    text = clean(text,
                 lowercase=False,
                 punct=True,
                 numbers=True,
                 extra_spaces=True)
    return text.strip()

In [179]:
def clean_english(text):
    # Remove extra whitespace, digits, special characters, retain basic punctuation
    text = re.sub(r'\s+', ' ', text)  # Normalize whitespace
    text = re.sub(r'[^\w\s\.,!?]', '', text)  # Keep alphanumeric, space, punctuation
    
    # Additional cleaning and normalization
    text = clean(text,
                 lowercase=True,
                 punct=True,
                 numbers = True,
                 extra_spaces=True)
    return text.strip()

In [180]:
df = pd.read_csv('NMT_data.csv')

In [181]:
df

,Nepali,English
0,"नमस्ते, साथीहरू! आज हामी भोजपुर जिल्लाको यात्र...","Hello, friends! Today, we are embarking on a j..."
1,"यो जिल्ला नेपालको प्रदेश नम्बर १ मा अवस्थित छ,...",This district is located in Province No. 1 of ...
2,भोजपुरको प्राकृतिक सौन्दर्यले हामीलाई सुरु देख...,The natural beauty of Bhojpur is captivating u...
3,हामीले यहाँको प्रसिद्ध मठ मन्दिरहरूको भ्रमण गर...,We plan to visit some of the famous temples here.
4,पहिलो गन्तव्य: भोजपुरको पुरानो मठ। यहाँको शान्...,Our first stop an ancient temple in Bhojpur. T...
...,...,...
1338,"मेची रंगशालामा स्थानीय फुटबल खेल हेर्दा, भीडको...",Watching a local football match at Mechi Stadi...
1339,स्वाद र परम्परामा धनी राजबंशी परिकारले तपाईलाई...,"The Rajbanshi cuisine, rich in flavor and trad..."
1340,हरेक परिकार एउटा उत्सवजस्तो लाग्छ।,Each dish feels like a celebration.
1341,झापामा सामुदायिक भावना बलियो छ।,The sense of community in Jhapa is strong.
1342,"छिमेकीहरू एक-अर्कालाई सहयोग गर्छन्, र पर्वहरूल...","Neighbors help each other, and festivals bring..."

In [182]:
# Apply the cleaning functions to each column
df['Nepali'] = df['Nepali'].apply(clean_nepali)
df['English'] = df['English'].apply(clean_english)

In [183]:
df['English'][16]

'during festivals kanchanpur comes alive with traditional tharu dances and rituals a colorful display of culture'

In [187]:
unique_chars = set()
for text in df['English']:
    for char in text:
        unique_chars.add(char)

# Print the unique characters
print(unique_chars)
print(len(unique_chars))

{' ', 'b', 'z', 'n', 'a', 'r', 'o', 'f', 'e', 'h', 'w', 'v', 'm', 'x', 's', 'u', 't', 'c', 'l', 'j', 'y', 'p', 'g', 'k', 'i', 'd', 'q'}
27

In [188]:
unique_chars = set()
for text in df['Nepali']:
    for char in text:
        unique_chars.add(char)

# Print the unique characters
print(unique_chars)
print(len(unique_chars))

{'ञ', ' ', 'न', 'आ', 'द', 'ई', 'े', 'ऐ', 'ो', 'ज', 'व', 'औ', 'स', 'झ', 'ी', 'ढ', 'ै', 'ष', 'र', 'ँ', 'ओ', 'ट', 'ख', 'ल', 'ह', 'ग', 'क', 'ध', 'अ', 'ङ', 'त', 'भ', 'ा', 'ू', '्', 'इ', 'घ', 'प', 'च', 'ौ', 'ब', 'म', 'फ', 'ृ', 'ु', 'उ', 'श', 'ठ', 'छ', 'ड', 'थ', 'य', 'ए', 'ण', 'ि', 'ः', 'ऊ', 'ं'}
58

In [190]:
df.to_csv('cleaned_nmt_data.csv', index=False)