In [1]:
import pandas as pd
import re
from cleantext import clean

In [2]:
def clean_nepali(text):
    text = text.replace('\u200d', '')  
    text = text.replace('।', '')
    text = text.replace('–','')  
    text = text.replace('—','')
    text = text.replace('”','')
    text = text.replace('“','')
    text = text.replace('‘','')
    text = text.replace('’','')
    
    # text = re.sub(r'\s+', ' ', text)  
    # if not isinstance(text, str) or not text.strip():
    #     return ""
    # pattern = r'[^\u0900-\u097F\u0020-\u007E\u200c\u200d]'

    # Replace unnecessary characters with an empty string
    # text = re.sub(pattern, '', text)
    # print(text)
    text = re.sub(r'[^\u0900-\u097F\s\.,!?|]।\u200d', '', text)  
    
    text = clean(text,
                 lowercase=False,
                 punct=True,
                 numbers=True,
                 extra_spaces=True)
    return text.strip()

In [3]:
def clean_english(text):
    # Remove extra whitespace, digits, special characters, retain basic punctuation
    text = re.sub(r'\s+', ' ', text)  # Normalize whitespace
    text = re.sub(r'[^\w\s\.,!?]', '', text)  # Keep alphanumeric, space, punctuation
    
    # Additional cleaning and normalization
    text = clean(text,
                 lowercase=True,
                 punct=True,
                 numbers = True,
                 extra_spaces=True)
    return text.strip()

In [4]:
df = pd.read_csv('NMT_data.csv')

In [5]:
df

,Nepali,English
0,"नमस्ते, साथीहरू! आज हामी भोजपुर जिल्लाको यात्र...","Hello, friends! Today, we are embarking on a j..."
1,"यो जिल्ला नेपालको प्रदेश नम्बर १ मा अवस्थित छ,...",This district is located in Province No. 1 of ...
2,भोजपुरको प्राकृतिक सौन्दर्यले हामीलाई सुरु देख...,The natural beauty of Bhojpur is captivating u...
3,हामीले यहाँको प्रसिद्ध मठ मन्दिरहरूको भ्रमण गर...,We plan to visit some of the famous temples here.
4,पहिलो गन्तव्य: भोजपुरको पुरानो मठ। यहाँको शान्...,Our first stop an ancient temple in Bhojpur. T...
...,...,...
3074,नेपालमा संस्कृतिका साथ धेरै प्रकारका जातिजाति ...,Nepal is home to many diverse ethnic groups wi...
3075,नेपालको हिमालय सम्म फैलिएको छ।,Nepal is spread up to the Himalayas.
3076,नेपालको सम्पूर्ण उत्तरी सिमाना हिमालय पर्वत शृ...,The entire northern border of Nepal is surroun...
3077,नेपालको हिमालय शृङ्खला विश्वको सबैभन्दा ऊँचो श...,The Himalayan range in Nepal includes the worl...
3078,नेपालमा संसारको अग्लो हिमाल सगरमाथा छ।,"Nepal has the highest peak in the world, Mount..."

In [6]:
df.dropna(inplace=True)

In [7]:
# filtered_items = df[df['english'].str.len() < 10]
# filtered_items

In [8]:
# nep_filtered_items = df[df['nepali'].str.len() < 10]
# nep_filtered_items

In [9]:
# df = df[df['nepali'].str.len() >= 10]

In [10]:
df['Nepali'] = df['Nepali'].apply(lambda x: str(x))
df['English'] = df['English'].apply(lambda x: str(x))

In [11]:
df = df[df['Nepali'].notnull()]
df = df[df['English'].notnull()]

In [12]:
df['Nepali'] = df['Nepali'].apply(lambda x: clean_nepali(x))

In [13]:
# Apply the cleaning functions to each column

df['English'] = df['English'].apply(clean_english)

In [14]:
# df['english'][16]

In [15]:
df[df['Nepali'].apply(lambda x: 'Nepal' in x)]

Empty DataFrame
Columns: [Nepali, English]
Index: []

In [24]:
unique_chars = set()
for text in df['English']:
    for char in text:
        unique_chars.add(char)

# Print the unique characters
print(unique_chars)
print(len(unique_chars))

{'f', 'y', 'a', 'o', 'l', 'r', 'j', 'w', 'z', 'p', 'c', 'm', 'i', 'n', 'b', ' ', 'v', 'e', 'u', 'd', 'h', 'g', 's', 'q', 't', 'k', 'x'}
27

In [25]:
unique_chars = set()
for text in df['Nepali']:
    for char in text:
        unique_chars.add(char)

# Print the unique characters
print(unique_chars)
print(len(unique_chars))

{'ो', '़', 'ौ', 'ा', 'म', '्', 'ल', 'द', 'न', 'फ', 'ं', 'प', 'ू', 'भ', 'ड', 'ब', 'ण', 'झ', 'ञ', 'ॉ', 'औ', 'स', 'ध', 'ग', 'इ', 'े', 'ी', 'ु', 'त', 'य', 'ज', 'ँ', 'र', 'ए', 'श', 'ठ', 'अ', 'ङ', ' ', 'ः', 'उ', 'छ', 'ढ', 'ח', 'ओ', 'व', 'ट', 'ख', '॥', 'ऐ', 'क', 'ई', 'घ', 'ऊ', 'आ', 'थ', 'ह', 'ष', 'च', 'ृ', 'ै', 'ि'}
62

In [23]:
df.duplicated().sum()

0

In [19]:
df.drop_duplicates(inplace=True)

In [20]:
df

,Nepali,English
0,नमस्ते साथीहरू आज हामी भोजपुर जिल्लाको यात्राम...,hello friends today we are embarking on a jour...
1,यो जिल्ला नेपालको प्रदेश नम्बर मा अवस्थित छ र...,this district is located in province no of ne...
2,भोजपुरको प्राकृतिक सौन्दर्यले हामीलाई सुरु देख...,the natural beauty of bhojpur is captivating u...
3,हामीले यहाँको प्रसिद्ध मठ मन्दिरहरूको भ्रमण गर...,we plan to visit some of the famous temples here
4,पहिलो गन्तव्य भोजपुरको पुरानो मठ यहाँको शान्त ...,our first stop an ancient temple in bhojpur th...
...,...,...
3074,नेपालमा संस्कृतिका साथ धेरै प्रकारका जातिजाति ...,nepal is home to many diverse ethnic groups wi...
3075,नेपालको हिमालय सम्म फैलिएको छ,nepal is spread up to the himalayas
3076,नेपालको सम्पूर्ण उत्तरी सिमाना हिमालय पर्वत शृ...,the entire northern border of nepal is surroun...
3077,नेपालको हिमालय शृङ्खला विश्वको सबैभन्दा ऊँचो श...,the himalayan range in nepal includes the worl...
3078,नेपालमा संसारको अग्लो हिमाल सगरमाथा छ,nepal has the highest peak in the world mount ...

In [21]:
df.to_csv('cleaned_data.csv', index=False)

In [22]:
df.shape

(2828, 2)